.navbar-header h1 a {
	width: 165px;
	height: 60px;
	background-image: url("/img/station3-logo-ie8.png");
	background-repeat: no-repeat;
	background-size: 155px 22px;
	background-position:2px 20px;
	text-indent: -9999px;
}

.service-1 {
	width: 215px;
	height: 139px;
	margin: 0 auto;
	background-image: url("/img/service1-ie8.png");
	background-repeat: no-repeat;
	background-size: 215px 139px;
}

.service-2 {
	width: 163px;
	height: 138px;
	margin: 0 auto;
	background-image: url("/img/service2-ie8.png");
	background-repeat: no-repeat;
	background-size: 162px 138px;
}

.service-3 {
	width: 158px;
	height: 138px;
	margin: 0 auto;
	background-image: url("/img/service3-ie8.png");
	background-repeat: no-repeat;
	background-size: 158px 138px;
}